/* =========================

   Header / Navigation

   ========================= */

header {
  background-color: #313131;
}

.logo {
  padding-top: 5px;
  height: 50px;
  width: auto;
  vertical-align: middle;
}

.nav-links {
  text-decoration: none;
  padding: 10px;
  color: #fcfcfc;
  margin-left: 20px;
  vertical-align: bottom;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header table {
  max-width: 1100px;
  margin: auto;
}

header td {
  margin-top: 6px;
  padding: 0;
}

.nav-links:hover {
  color: #00aeef;
}

/* =========================

   Allgemein

   ========================= */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f7f7f7;
  color: #222;
  line-height: 1.6;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1,
h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 0.5rem 0;
}

#Materialliste {
  text-align: left;
}

#Materialliste th, #Materialliste td {
  text-align: left;
  padding-right: 6rem;
}

/*Button Design*/
button {
  display: inline-block;
  padding: 10px 24px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  background-color: #eee;
  border: 2px solid #000;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #000;
  color: #eee;
  border-color: #000;
}

/*Buttons für Anleitung ausrichten*/
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonAlignRight {
  display: flex;
  gap: 0.5rem;
}

/*gefärbter Hintergrund, Ränder...*/
.card,
main.anleitung section {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.section {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.section img {
  width: 240px;
  height: auto;
  border-radius: 8px;
}

.section.reverse {
  /*kehrt ausrichtung von links nach rechts um*/
  flex-direction: row-reverse;
}

/* =========================

   IMPRESSUM-Layout (nur wenn <main class="impressum">)

   ========================= */

main.impressum {
  max-width: 1100px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title title title"
    "owner responsible contact"
    "tax bank bank"
    "info info liability"
    "copyright copyright changes";
}

main.impressum .card h2 {
  margin: 0.1rem 0 0.6rem;
  font-size: 1.1rem;
}

.owner {
  grid-area: owner;
}

.responsible {
  grid-area: responsible;
}

.contact {
  grid-area: contact;
}

.tax {
  grid-area: tax;
}

.bank {
  grid-area: bank;
}

.info {
  grid-area: info;
}

.liability {
  grid-area: liability;
}

.copyright {
  grid-area: copyright;
}

.changes {
  grid-area: changes;
}

/* Responsive Impressum */
@media (max-width: 700px) {
  main.impressum {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "owner"
      "responsible"
      "contact"
      "tax"
      "bank"
      "info"
      "liability"
      "copyright"
      "changes";
  }
}
/* =========================

   Anleitungs-Layout (nur wenn <main class="anleitung">)

   ========================= */

main.anleitung {
  max-width: 1100px; /* etwas breiter als Standard */
  display: grid; /* Grid statt Flex */
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "title title title"
    "text image image"
    "text image image"
    "text buttons buttons";
}

main.anleitung h2 {
  margin: 0.1rem 0 0.6rem;
  font-size: 1.1rem;
}

/* Grid-Areas für die Kästchen */
.tutorialText {
  grid-area: text;
}

.tutorialImage {
  grid-area: image;
}

.tutorialButtons {
  grid-area: buttons;
}

/* Responsive Anleitung */
@media (max-width: 900px) {
  main.anleitung {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image"
      "buttons"
      "text"
  }
}

/*Settings für "slider" Bilder/*

/*Blendet alle Bilder ausser das erste beim Laden der Seite aus*/
#slider .slide:not(:first-child) {
  display: none;
}

.slider {
  width: 100%;
  height: 100%; /* optional: wenn Container Höhe hat */
  display: flex; /* Zentrierung */
  justify-content: center;
  align-items: center;
}

.slider img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* Bild wird vollständig angezeigt, nichts wird abgeschnitten */
}

/*Allgemeines Responsive Design*/
@media (max-width: 700px) {
.nav-links {
  margin-left: 2px;
}
.card,
main.anleitung section {
  padding: 1rem;
}

.section img {
  width: 160px;
  height: auto;
  border-radius: 4px;
}
}